In [1]:
import pandas as pd
import numpy as np

In [2]:
df_rating = pd.read_csv("C:/Users/91995/Downloads/archive/ml-100k/u.data", sep="\t")
df_rating.columns = ['user_id', 'movie_id', 'rating', 'timestamp']
df_rating

       user_id  movie_id  rating  timestamp
0          186       302       3  891717742
1           22       377       1  878887116
2          244        51       2  880606923
3          166       346       1  886397596
4          298       474       4  884182806
...        ...       ...     ...        ...
99994      880       476       3  880175444
99995      716       204       5  879795543
99996      276      1090       1  874795795
99997       13       225       2  882399156
99998       12       203       3  879959583

[99999 rows x 4 columns]

In [3]:
len(df_rating['movie_id'].unique())

1682

In [4]:
df_rating = df_rating.drop(['timestamp'], axis=1)
df_rating

       user_id  movie_id  rating
0          186       302       3
1           22       377       1
2          244        51       2
3          166       346       1
4          298       474       4
...        ...       ...     ...
99994      880       476       3
99995      716       204       5
99996      276      1090       1
99997       13       225       2
99998       12       203       3

[99999 rows x 3 columns]

In [5]:
df_rating

       user_id  movie_id  rating
0          186       302       3
1           22       377       1
2          244        51       2
3          166       346       1
4          298       474       4
...        ...       ...     ...
99994      880       476       3
99995      716       204       5
99996      276      1090       1
99997       13       225       2
99998       12       203       3

[99999 rows x 3 columns]

In [ ]:
len(df_rating.loc[(df_rating['user_id']==186) & (df_rating['movie_id']==302)])

In [ ]:
#df_rating.loc[(df_rating['user_id']==186) & (df_rating['movie_id']==302), 'rating'] = 4
# df_rating.loc[len(df_rating.index)] = [500, 500, 3]
df_rating.tail(10)

In [ ]:
rating_counts = df_rating.groupby('user_id')['rating'].count()
rating_counts

In [ ]:
print(max(rating_counts.values))

In [ ]:
import matplotlib.pyplot as plt

plt.plot(rating_counts.index, rating_counts.values)
plt.xlabel('user')
plt.ylabel('no of ratings')
plt.show()

In [ ]:
df_rating2 = df_rating.groupby('user_id').filter(lambda x: len(x) >= 270)
df_rating2

In [ ]:
df_user = pd.read_csv('C:/Users/91995/Downloads/archive/ml-100k/u.user', sep='|', header=None)
df_user.columns = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
df_user

In [ ]:
from sklearn.preprocessing import LabelEncoder

en = LabelEncoder()
df_user['gender'] = en.fit_transform(df_user['gender'])
df_user

In [ ]:
item_cols = ['movie_id', 'movie_title', 'release_date', 'video_release_date', 'imdb_url']
genre_cols = ['unknown', 'action', 'adventure', 'animation', 'children', 'comedy', 'crime', 'documentary',
              'drama','fantasy', 'film_noir', 'horror', 'musical', 'mystery', 'romance', 'sci_fi', 'thriller', 
              'war','western']

df_item_genre = pd.read_csv('C:/Users/91995/Downloads/archive/ml-100k/u.item', sep='|',encoding='latin-1')
df_item_genre.columns = item_cols + genre_cols
df_item_genre

In [ ]:
len(df_item_genre['movie_title'].unique())

In [ ]:
df_item_genre['movie_title'].isnull().sum()

In [ ]:
df_item = df_item_genre[item_cols]
df_item

In [ ]:
df_genre = df_item_genre[['movie_id'] + genre_cols]
df_genre

In [ ]:
def convert_onehot_to_category(df, id_col, one_hot_columns, category_col='category'):
    df_concat = pd.DataFrame(columns=[id_col, category_col])
    for col in one_hot_columns:
        df_each = df[df[col] >= 1][[id_col, col]]
        df_each[col] = col

        df_each.columns = [id_col, category_col]
        df_concat = pd.concat([df_concat, df_each], axis=0)
    df_concat = df_concat.drop_duplicates().reset_index(drop=True)
    
    return df_concat

In [ ]:
use_item_cols = ['movie_id', 'movie_title', 'release_date']
df_item = df_item[use_item_cols]

#use_genre_cols = ['action', 'adventure', 'animation', 'children', 'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film_noir', 'horror', 'musical', 'mystery', 'romance', 'sci_fi', 'thriller','war','western']
use_genre_cols = ['action', 'adventure', 'animation', 'children', 'comedy', 'crime', 'drama', 'horror', 'musical', 'mystery', 'romance', 'sci_fi', 'thriller']
df_genre2 = df_genre[['movie_id'] + use_genre_cols]
df_genre2

In [ ]:
df_item

In [ ]:
df_genre2 = convert_onehot_to_category(df_genre, 'movie_id', use_genre_cols, category_col='genre')
df_genre2

In [ ]:
df_genre2 = df_genre2.groupby('movie_id').agg(list).reset_index()
df_genre2

In [ ]:
df = pd.merge(df_rating, df_item, on='movie_id')
df = pd.merge(df, df_genre, on='movie_id')
df = pd.merge(df, df_user, on='user_id')
df

In [ ]:
df2 = pd.merge(df_rating, df_item, on='movie_id')
df2 = pd.merge(df2, df_genre2, on='movie_id')
df2 = pd.merge(df2, df_user, on='user_id')
df2

In [ ]:
len(df2['movie_title'].unique())

In [ ]:
df2['movie_title'].isnull().sum()

In [ ]:
df3 = pd.merge(df_rating2, df_item, on='movie_id')
df3 = pd.merge(df3, df_genre, on='movie_id')
df3 = pd.merge(df3, df_user, on='user_id')
df3

In [6]:
links = pd.read_csv("C:/Users/91995/Downloads/archive/ml-100k/links.csv")
links

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
62418   209157  6671244  499546.0
62419   209159   297986   63407.0
62420   209163  6755366  553036.0
62421   209169   249603  162892.0
62422   209171    55323   79513.0

[62423 rows x 3 columns]

In [ ]:
links[links['tmdbId'] == 261246]

In [ ]:
len(links['movieId'].unique())

In [ ]:
links = links.dropna()
links

In [ ]:
movies = pd.read_csv("C:/Users/91995/Downloads/archive/ml-100k/movies.csv")
movies.columns = ['movie_id2', 'movie_title', 'genres']
movies

In [ ]:
df = df.join(movies.set_index('movie_title'), on='movie_title')
df

In [ ]:
df2 = df2.join(movies.set_index('movie_title'), on='movie_title')
df2

In [ ]:
df2['movie_id'].isnull().sum()

In [ ]:
df3 = df3.join(movies.set_index('movie_title'), on='movie_title')
df3

In [ ]:
df = df.drop(['occupation', 'zip_code', 'genres'], axis=1)

In [ ]:
df

In [ ]:
df[df['movie_id']==1512]

In [ ]:
df2 = df2.drop(['occupation', 'zip_code', 'genres'], axis=1)
df2

In [ ]:
df3 = df3.drop(['occupation', 'zip_code', 'genres'], axis=1)
df3

In [ ]:
df = df.dropna()
df

In [ ]:
df = df.drop(['unknown', 'documentary', 'fantasy', 'film_noir', 'war', 'western'], axis=1)
df

In [ ]:
df2 = df2.dropna()
df2

In [ ]:
len(df2['movie_title'].unique())

In [ ]:
df3 = df3.dropna()
df3

In [ ]:
df3 = df3.drop(['unknown', 'documentary', 'fantasy', 'film_noir', 'war', 'western'], axis=1)
df3

In [ ]:
df = df[df['movie_id'].isin(links['movieId'].values)]
df

In [ ]:
q = df[df['movie_id2'].isin(links['tmdbId'].values)]
q

In [ ]:
df2 = df2[df2['movie_id'].isin(links['movieId'].values)]
df2

In [ ]:
df3 = df3[df3['movie_id'].isin(links['movieId'].values)]
df3

In [ ]:
len(df3['movie_id'].unique())

In [ ]:
df.columns

In [ ]:
def to_1D(series):
    return pd.Series([x for _list in series for x in _list])

print(to_1D(df2["genre"]))
print(to_1D(df2["genre"]).value_counts())

In [ ]:
df.corr()

In [ ]:
df_cold = df3[['user_id','animation','comedy','crime', 'drama', 'musical', 'mystery', 'romance', 'sci_fi', 'thriller', 'age', 'gender','rating']]
#df_cold = df[['crime','mystery', 'romance','age', 'gender','rating']]
df_cold

In [ ]:
len(pd.unique(df_cold['user_id']))

In [ ]:
df_cold = df_cold.set_index('user_id')
df_cold

In [ ]:
data_cold = df_cold.values

x = data_cold[:, :-1]
y = data_cold[:, -1]
print('x',x)
print('y',y)

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
  
y_pred = gnb.predict(x_test)
print('yp1',y_pred)


from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score

mae = mean_absolute_error(y_test, y_pred)
acc = accuracy_score(y_test, y_pred)
print(mae)
print(acc)


from sklearn import tree

dt = tree.DecisionTreeClassifier()
dt = dt.fit(x_train, y_train)
y_pred2 = dt.predict(x_test)
print('yp2',y_pred2)
print('yt2',y_test)


mae = mean_absolute_error(y_test, y_pred2)
acc = accuracy_score(y_test, y_pred2)
print(mae)
print(acc)

# from sklearn.neighbors import KNeighborsRegressor

# neigh = KNeighborsRegressor(n_neighbors=3)
# neigh.fit(x_train, y_train)
# y_pred3 = neigh.predict(x_test)
# y_pred3

# mae = mean_absolute_error(y_test, y_pred3)
# acc = accuracy_score(y_test, y_pred3)
# print(mae)
# print(acc)

In [ ]:
from sklearn.ensemble import BaggingClassifier

bc = BaggingClassifier()
bc.fit(x_train, y_train)
y_pred3 = bc.predict(x_test)

mae = mean_absolute_error(y_test, y_pred3)
acc = accuracy_score(y_test, y_pred3)
print(mae)
print(acc)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

bc = GradientBoostingClassifier()
bc.fit(x_train, y_train)
y_pred4 = bc.predict(x_test)

mae = mean_absolute_error(y_test, y_pred4)
acc = accuracy_score(y_pred4, y_test)
print(mae)
print(acc)

print('yp4',y_pred4)
print('yt',y_test)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import make_scorer
#creating Scoring parameter: 
scoring = {'accuracy': make_scorer(accuracy_score),
           'precision': make_scorer(precision_score),'recall':make_scorer(recall_score)}

# parameters = {
#     "loss":["deviance"],
#     "learning_rate": [0.01, 0.025, 0.05, 0.075, 0.1, 0.15, 0.2],
#     "min_samples_split": np.linspace(0.1, 0.5, 12),
#     "min_samples_leaf": np.linspace(0.1, 0.5, 12),
#     "max_depth":[3,5,8],
#     "max_features":["log2","sqrt"],
#     "criterion": ["friedman_mse",  "mae"],
#     "subsample":[0.5, 0.618, 0.8, 0.85, 0.9, 0.95, 1.0],
#     "n_estimators":[10]
# }

parameters = {
    "n_estimators": [10, 50, 100],
    "max_depth": [3, 6, 9],
    "learning_rate": [0.01, 0.01, 0.1, 0.5, 1]
}

gs = GridSearchCV(estimator=GradientBoostingClassifier(), param_grid=parameters, refit=True, cv=3)

In [ ]:
#gs.fit(x_train, y_train)

In [ ]:
# from sklearn.svm import SVC

# svc = SVC(kernel='linear', probability=True)
# svc.fit(x_train, y_train)

In [ ]:
# pg = {'C':[0.1,1,10,100,1000], 'gamma':[1,0.1,0.01,0.001,0.0001]}

# grid = GridSearchCV(model, param_grid=pg, cv=10)
# grid.fit(x_train, y_train)

# print('Best Hyperparameter: ',grid.best_params_)

In [ ]:
# y_pred5 = svc.predict(x_test)

# mae = mean_absolute_error(y_test, y_pred5)
# acc = accuracy_score(y_pred5, y_test)
# print(mae)
# print(acc)

# print('yp5',y_pred4)
# print('yt',y_test)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

bc = GradientBoostingClassifier(n_estimators=100)
bc.fit(x_train, y_train)
y_pred4 = bc.predict(x_test)

mae = mean_absolute_error(y_test, y_pred4)
acc = accuracy_score(y_pred4, y_test)
print(mae)
print(acc)

print('yp4',y_pred4)
print('yt',y_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

bc = RandomForestClassifier()
bc.fit(x_train, y_train)
y_pred4 = bc.predict(x_test)

mae = mean_absolute_error(y_test, y_pred4)
acc = accuracy_score(y_pred4, y_test)
print(mae)
print(acc)

print('yp4',y_pred4)
print('yt',y_test)

In [ ]:
df_cold2 = df_cold.copy()
df_cold2

In [ ]:
df_cold2 = df_cold2[['comedy','crime', 'drama', 'romance', 'sci_fi', 'thriller', 'rating']]
df_cold2

In [ ]:
data_cold2 = df_cold2.values
x = data_cold2[:, :-1]
y = data_cold2[:, -1]
print('x',x)
print('y',y)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)
  
y_pred = gnb.predict(x_test)
print('yp1',y_pred)


from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score

mae = mean_absolute_error(y_test, y_pred)
acc = accuracy_score(y_test, y_pred)
print(mae)
print(acc)


from sklearn import tree

dt = tree.DecisionTreeClassifier()
dt = dt.fit(x_train, y_train)
y_pred2 = dt.predict(x_test)
print('yp2',y_pred2)
print('yt2',y_test)


mae = mean_absolute_error(y_test, y_pred2)
acc = accuracy_score(y_test, y_pred2)
print(mae)
print(acc)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

bc = GradientBoostingClassifier()
bc.fit(x_train, y_train)
y_pred4 = bc.predict(x_test)

mae = mean_absolute_error(y_test, y_pred4)
acc = accuracy_score(y_pred4, y_test)
print(mae)
print(acc)

print('yp4',y_pred4)
print('yt',y_test)

In [ ]:
# from catboost import CatBoostClassifier

# cb = CatBoostClassifier()
# cb.fit(x_train, y_train)
# y_pred6 = cb.predict(x_test)

# mae = mean_absolute_error(y_test, y_pred6)
# acc = accuracy_score(y_pred6, y_test)
# print(mae)
# print(acc)

# print('yp6',y_pred6)
# print('yt',y_test)

In [ ]:
from catboost import CatBoostClassifier

In [ ]:
df_cold

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = MinMaxScaler()
df_cold3 = df_cold.copy()
print(df_cold3)
temp = scaler.fit_transform([df_cold3['age']])
print(temp)
# x = data_cold3[:, :-1]
# y = data_cold3[:, -1]
# print('x',x)
# print('y',y)

In [ ]:
df_cold3 =df_cold.copy()

feature = df_cold3[['age']]

# Initialize the scaler
scaler = MinMaxScaler()

# Fit and transform the feature using the scaler
scaled_feature = scaler.fit_transform(feature)

print(scaled_feature)

df_cold3['age'] = scaled_feature

print(df_cold3)

In [ ]:
from sklearn.model_selection import train_test_split

data_cold3 = df_cold3.values
x = data_cold3[:, :-1]
y = data_cold3[:, -1]
print('x',x)
print('y',y)

x_train, x_test, y_train, y_test = train_test_split(x, y)

from sklearn.ensemble import GradientBoostingClassifier

bc2 = GradientBoostingClassifier()
bc2.fit(x_train, y_train)
y_pred5 = bc2.predict(x_test)

mae = mean_absolute_error(y_test, y_pred5)
acc = accuracy_score(y_pred5, y_test)
print(mae)
print(acc)

print('yp5',y_pred5)
print('yt',y_test)

In [ ]:
# df_cold4 =df_cold.copy()

# scaler = MinMaxScaler()

# # Fit and transform all the features using the scaler
# scaled_df = scaler.fit_transform(df_cold4)

# # Replace the original dataframe with the scaled dataframe
# df_cold4 = pd.DataFrame(scaled_df, columns=df_cold4.columns)

# df_cold4['rating'] = df_cold['rating']

In [ ]:
from sklearn.model_selection import train_test_split

data_cold4 = df_cold.values
x = data_cold4[:, :-1]
y = data_cold4[:, -1]

scaler = StandardScaler()
x = scaler.fit_transform(x)

print('x',x)
print('y',y)

x_train, x_test, y_train, y_test = train_test_split(x, y)

from sklearn.ensemble import GradientBoostingClassifier

bc3 = GradientBoostingClassifier()
bc3.fit(x_train, y_train)
y_pred6 = bc3.predict(x_test)

mae = mean_absolute_error(y_test, y_pred6)
acc = accuracy_score(y_pred6, y_test)
print(mae)
print(acc)

print('yp5',y_pred6)
print('yt',y_test)

In [ ]:
#User-Item Matrix 

matrix = df2.pivot_table(index='user_id', columns='movie_title', values='rating')
matrix

In [ ]:
#User-Item Matrix 

matrix_id = df2.pivot_table(index='user_id', columns='movie_id', values='rating')
matrix_id

In [ ]:
matrix_id_temp = df3.pivot_table(index='user_id', columns='movie_id', values='rating')
matrix_id_temp

In [ ]:
len(df2['movie_title'].unique())

In [ ]:
len(df2['movie_id'].unique())

In [ ]:
# matrix_id.loc[950,:] = math.nan
# matrix_id

In [ ]:
# matrix_id.loc[950][8] = 4
# matrix_id

In [ ]:
951 in matrix_id.index

In [ ]:
from surprise import SVD
from surprise import Dataset, Reader, NormalPredictor
from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df_rating, reader)
data

In [ ]:
cross_validate(NormalPredictor(), data, cv=2)

In [ ]:
trainData, testData = train_test_split(data, random_state=1)

In [ ]:
model = SVD()

model.fit(trainData)

In [ ]:
pred = model.test(testData)
pred

In [ ]:
accuracy.rmse(pred)

In [ ]:
accuracy.mae(pred)

In [ ]:
cross_validate(model, data, cv=5)

In [ ]:
# from surprise.model_selection import GridSearchCV

# #param_grid = {"n_epochs": [5, 8, 10, 12], "lr_all": [0.002, 0.005, 0.007], "reg_all": [0.4, 0.6, 0.8]}
# param_grid = {'n_epochs': [60, 80, 120, 150], 'lr_all': [.0025, .005, .001, .01], "reg_all": [0.4, 0.6, 0.8]}
# gs = GridSearchCV(SVD, param_grid, measures=["rmse", "mae"], cv=3)

# gs.fit(data)

# # best RMSE score
# print(gs.best_score["rmse"])

# # combination of parameters that gave the best RMSE score
# print(gs.best_params["rmse"])

In [ ]:
model = SVD(n_epochs=40, lr_all=0.012, reg_all=0.4)

model.fit(trainData)

In [ ]:
preds = model.test(testData)
preds

In [ ]:
accuracy.rmse(preds)

In [ ]:
accuracy.mae(preds)

In [ ]:
cross_validate(model, data, measures=['rmse', 'mae'], cv=5)

In [ ]:
from surprise.model_selection import GridSearchCV

param_grid = {"n_epochs": [5, 10], "lr_all": [0.002, 0.005], "reg_all": [0.4, 0.6]}
gs = GridSearchCV(SVD, param_grid, measures=["rmse", "mae"], cv=3)
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df_rating2, reader)

gs.fit(data)

# best RMSE score
print(gs.best_score["rmse"])

# combination of parameters that gave the best RMSE score
print(gs.best_params["rmse"])

In [ ]:
trainData, testData = train_test_split(data, random_state=1)

modelSVD2 = SVD()

modelSVD2.fit(trainData)
pred = modelSVD2.test(testData)

print(accuracy.rmse(pred))

print(cross_validate(modelSVD2, data, measures=['rmse', 'mae'], cv=5))

In [ ]:
uid = str(1)
iid = str(10)

pred = model.predict(uid, iid)

In [ ]:
pred.est

In [ ]:
temp = matrix_id.loc[2]
temp

In [ ]:
type(temp)

In [ ]:
import math

def recommend(uid):
    movies_unwatched = []
    temp = matrix_id.loc[uid]
    
    for a, b in temp.iteritems():
        if math.isnan(b):
            movies_unwatched.append([a, round(model.predict(uid, a).est, 3)])
    
    movies_unwatched = sorted(movies_unwatched, key = lambda x: x[1], reverse=True)
    
    return movies_unwatched

In [ ]:
movies_unwatched = recommend(2)
print(movies_unwatched)

In [ ]:
from joblib import dump

In [ ]:
#dump(model, './../mlModels/model.joblib')

In [ ]:
import pickle

In [ ]:
#pickle.dump(matrix_id, open('./../datafiles/matrix_id.pkl', 'wb'))

In [ ]:
#pickle.dump(df_rating, open('./../datafiles/df_rating.pkl', 'wb'))

In [ ]:
links

In [ ]:
links[links['movieId']==318]

In [ ]:
links[links['movieId']==318].tmdbId.item()

In [ ]:
movies_unwatched[0][0]

In [ ]:
recommendations = []
for i in range(15):
    print(movies_unwatched[i][0])
    recommendations.append(links[links['movieId']==movies_unwatched[i][0]].tmdbId)

print(recommendations)

In [ ]:
print(recommendations[0])

In [ ]:
#pickle.dump(links, open('./../datafiles/links.pkl', 'wb'))

In [ ]:
df_cold

In [ ]:
len(pd.unique(df_rating2['user_id']))

In [ ]:
data_cold = df_cold.values

x = data_cold[:, :-1]
y = data_cold[:, -1]
print(x)
print(y)

from sklearn import tree

model2 = tree.DecisionTreeClassifier()
model2 = model2.fit(x, y)
x_test = np.array([[1, 0, 1, 0, 0, 1, 0, 1, 1, 21, 1]])
y_pred2 = model2.predict(x_test)
print(y_pred2)

In [ ]:
new_user = np.array([[1, 0, 1, 0, 0, 1, 0, 1, 1, 21, 1, 2]])
new_user

In [ ]:
new_user[0]

In [ ]:
df_cold

In [ ]:
len(df_cold.columns)

In [ ]:
new_user

In [ ]:
len(new_user)

In [ ]:
df_cold_temp = df_cold.copy()
df_cold_temp.loc[len(df_cold_temp)] = new_user[0]
df_cold_temp = df_cold_temp.rename(index={df_cold_temp.index[len(df_cold_temp)-1]: 1000})
df_cold_temp

In [ ]:
df_cold_temp.index[len(df_cold_temp)-1]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

rows = []
print(df_cold.iloc[-1, :])
df_cold.index[df_cold.iloc[-1, 0]]

In [ ]:
for row in range(len(df_cold)):
    ind = df_cold.index[row]
    sim = cosine_similarity(np.array(df_cold.iloc[row, :]).reshape(1, 12), new_user)[0][0]
    rows.append([ind, round(sim, 12)])
    
rows = sorted(rows, key = lambda x: x[1], reverse = True)
print(rows)

In [ ]:
n = 5
similar_users = []
temp = []
for r in rows:
    if len(similar_users) == n:
        break
    
    if r not in similar_users:
        similar_users.append(r)
        temp.append(r[0])

print(similar_users)

In [ ]:
similar_users = pd.DataFrame(similar_users, columns=['user_id', 'similarity'])
similar_users = similar_users.set_index('user_id')
similar_users

In [ ]:
i = similar_users.copy()
i.loc[len(i)] = 0.997433
i = i.rename(index={i.index[len(i)-1]: 896})
i

In [ ]:
i.loc[896]

In [ ]:
i.drop_duplicates()

In [ ]:
similar_user_movies = matrix_id[matrix_id.index.isin(temp)]
similar_user_movies

In [ ]:
similar_user_movies = similar_user_movies.dropna(axis=1, how='all')
similar_user_movies

In [ ]:
for i in similar_user_movies.columns:
    print(i)

In [ ]:
movie_score = {}
for i in similar_user_movies.columns:
    movie_rating = similar_user_movies[i]
    total = 0
    count = 0
    for u in similar_users.index:
        if math.isnan(movie_rating[u]) is False:
            score = similar_users.loc[u].item() *  movie_rating[u]
            total += score
            count += 1
    
    movie_score[i] = total/count

movie_score = pd.DataFrame(movie_score.items(), columns=['movie_id', 'score'])
ranked_movie_score = movie_score.sort_values(by='score', ascending=False)
m = 15
cold_movies = ranked_movie_score.head(m)

In [ ]:
cold_movies

In [ ]:
cold_movies['movie_id']

In [ ]:
temp = []

for m in cold_movies['movie_id']:
    temp.append(m)

temp

In [ ]:
#pickle.dump(df_cold, open('./../datafiles/df_cold.pkl', 'wb'))

In [ ]:
#dump(model2, './../mlModels/model2.joblib')

In [ ]:
import sklearn

sklearn.__version__

In [ ]:
links[links['movieId']==1512].tmdbId

In [ ]:
links

In [ ]:
links['movieId'].isnull().sum()

In [ ]:
links['movieId']

In [ ]:
links[links['movieId']==1512]

In [ ]:
z = matrix_id.columns.isin(links['movieId'].values)
z.sum()

In [ ]:
1512 in matrix_id.columns

In [ ]:
matrix_id.columns

In [ ]:
links.movieId.values

In [ ]:
1512 in links['movieId'].values

In [ ]:
# from sklearn.cluster import KMeans
# from scipy.sparse.linalg import svds

# # Load the user-item ratings matrix
# # ratings = matrix_id.copy()
# # ratings = ratings.fillna(0).values

# ratings = np.array([[5, 3, 0, 1],
#                    [4, 0, 0, 1],
#                    [1, 1, 0, 5],
#                    [1, 0, 0, 4]])


# kmeans = KMeans(n_clusters=3, random_state=0).fit(ratings)

# user_clusters = kmeans.predict(ratings)
# print(user_clusters)
# item_clusters = kmeans.predict(ratings.T)
# print(item_clusters)

# for i in range(kmeans.n_clusters):
#     user_mask = user_clusters == i
#     print(user_mask)
#     item_mask = item_clusters == i
#     print(item_mask)
#     cluster_ratings = ratings[user_mask, :][:, item_mask]
#     print(cluster_ratings)

#     U, sigma, Vt = svds(cluster_ratings, k=2)
#     sigma = np.diag(sigma)
    
#     predicted_ratings = np.dot(np.dot(U, sigma), Vt)
#     print("Predicted ratings for cluster", i, ":\n", predicted_ratings)

# nu = np.array([3, 0, 0, 2])


# cluster = kmeans.predict(nu.reshape(1,-1))[0]

# predicted_ratings = cluster_predictions[cluster]
# print("Predicted ratings for new user:\n", predicted_ratings)

In [ ]:
# from sklearn.cluster import KMeans

# # Load user-item matrix
# user_item_matrix = matrix_id.copy()
# user_item_matrix = user_item_matrix.fillna(0)

# print('matrix',user_item_matrix)

# # Convert the user-item matrix to a numpy array
# ratings = user_item_matrix.values

# # Initialize the number of clusters
# num_clusters = 5

# # Train KMeans on the user-item matrix
# kmeans = KMeans(n_clusters=num_clusters, random_state=0).fit(ratings)

# # Assign each user to a cluster based on the KMeans model
# user_clusters = kmeans.predict(ratings)

# print('clus',user_clusters)

# # Create a new dataframe to store the cluster assignments for each user
# user_cluster_df = pd.DataFrame({"user_id": user_item_matrix.index, "cluster_id": user_clusters})

# print('ucdf',user_cluster_df)

# # Join the cluster assignments with the user-item matrix to create a user-item-cluster matrix
# user_item_cluster_matrix = user_item_matrix.merge(user_cluster_df, left_index=True, right_on="user_id")

# print(user_item_cluster_matrix)

# # Group the user-item-cluster matrix by cluster and item to get the average ratings for each item in each cluster
# cluster_item_ratings = user_item_cluster_matrix.groupby(["cluster_id", "item_id"]).mean()["rating"].reset_index()

# # Use the cluster-item average ratings to make recommendations to users in the same cluster
# def recommend_items(user_id, num_recs):
#     user_cluster = user_cluster_df[user_cluster_df["user_id"] == user_id]["cluster_id"].values[0]
#     cluster_items = cluster_item_ratings[cluster_item_ratings["cluster_id"] == user_cluster][["item_id", "rating"]]
#     top_recs = cluster_items.sort_values("rating", ascending=False).head(num_recs)["item_id"].tolist()
#     return top_recs

# # Example usage
# print(recommend_items(0, 3))

In [ ]:
#cold start

import pandas as pd
from sklearn.cluster import KMeans

# Load the user-item interaction data

# Create a matrix of user-item interactions
# user_item_matrix = data.pivot(index='user_id', columns='item_id', values='rating')
# user_item_matrix = user_item_matrix.fillna(0)

user_item_matrix = matrix_id.copy()
user_item_matrix = user_item_matrix.fillna(0)

# Train the KMeans model
kmeans = KMeans(n_clusters=5, random_state=0)
kmeans.fit(user_item_matrix)

# Predict the cluster for a first time user
new_user = [0]*1328
first_time_user_cluster = kmeans.predict([new_user])[0]

print(first_time_user_cluster)
print(user_item_matrix.T)

# # Recommend items based on the cluster of the first time user
# recommended_items = []
# for item_id, item in enumerate(user_item_matrix.T):
#     print(item_id, item)
#     if item[first_time_user_cluster] > 3:
#         recommended_items.append(item_id)

# for i in enumerate(user_item_matrix):
#     print(i)

# print("Recommended items for the first time user: ", recommended_items)

print(kmeans.labels_)

cluster_users = [i for i, label in enumerate(kmeans.labels_) if label == first_time_user_cluster]

print('cluster_users',cluster_users)

print(user_item_matrix.columns)

# Recommend items based on the first-time user's cluster
recommended_items = []
# for i, row in enumerate(user_item_matrix.T):
#     if kmeans.labels_[i] in cluster_users:
#         print(i, row, user_item_matrix.T.columns[i])
#         if sum(row >= 3) >= 3:
#             recommended_items.append(user_item_matrix.columns[i])

# recommended_items = []
# for i, row in enumerate(user_item_matrix.T):
#     #print(i, row)
#     if i in cluster_users:
#         print(row)

# for i in range(len(user_item_matrix.T)):
#     print(user_item_matrix.T.iloc[i])

item_user_matrix = user_item_matrix.T.iloc[:, cluster_users]
print(item_user_matrix)

for i, mid in enumerate(item_user_matrix):
    row = item_user_matrix.iloc[i]
    #print((row >= 5).sum())

average_ratings = item_user_matrix.mean(axis=1)
print(average_ratings)
print(len(average_ratings))

N=10
top_N_items = average_ratings.sort_values(ascending=False).head(N).index

print("top 10 items", top_N_items)
print("Recommended items for first-time user: ", recommended_items)

In [ ]:
kmeans.inertia_

In [ ]:
import matplotlib.pyplot as plt

distortions = []
for i in range(1, 21):
    km = KMeans(
        n_clusters=i, init='random',
        n_init=10, max_iter=300,
        tol=1e-04, random_state=0
    )
    km.fit(user_item_matrix)
    distortions.append(km.inertia_)

print(distortions)
    
# plot
plt.plot(range(1, 21), distortions, marker='o')
plt.xlabel('Number of clusters')
plt.ylabel('Distortion')
plt.show()

In [ ]:
#cold start

import pandas as pd
from sklearn.cluster import KMeans

# Load the user-item interaction data

# Create a matrix of user-item interactions
# user_item_matrix = data.pivot(index='user_id', columns='item_id', values='rating')
# user_item_matrix = user_item_matrix.fillna(0)

user_item_matrix = matrix_id.copy()
user_item_matrix = user_item_matrix.fillna(0)

# Train the KMeans model
kmeans = KMeans(n_clusters=12, random_state=0)
kmeans.fit(user_item_matrix)

# Predict the cluster for a first time user
new_user = [0]*1328
first_time_user_cluster = kmeans.predict([new_user])[0]

print(first_time_user_cluster)
print(user_item_matrix.T)

# # Recommend items based on the cluster of the first time user
# recommended_items = []
# for item_id, item in enumerate(user_item_matrix.T):
#     print(item_id, item)
#     if item[first_time_user_cluster] > 3:
#         recommended_items.append(item_id)

# for i in enumerate(user_item_matrix):
#     print(i)

# print("Recommended items for the first time user: ", recommended_items)

print(kmeans.labels_)

cluster_users = [i for i, label in enumerate(kmeans.labels_) if label == first_time_user_cluster]

print('cluster_users',cluster_users)

print(user_item_matrix.columns)

# Recommend items based on the first-time user's cluster
recommended_items = []
# for i, row in enumerate(user_item_matrix.T):
#     if kmeans.labels_[i] in cluster_users:
#         print(i, row, user_item_matrix.T.columns[i])
#         if sum(row >= 3) >= 3:
#             recommended_items.append(user_item_matrix.columns[i])

# recommended_items = []
# for i, row in enumerate(user_item_matrix.T):
#     #print(i, row)
#     if i in cluster_users:
#         print(row)

# for i in range(len(user_item_matrix.T)):
#     print(user_item_matrix.T.iloc[i])

item_user_matrix = user_item_matrix.T.iloc[:, cluster_users]
print(item_user_matrix)

for i, mid in enumerate(item_user_matrix):
    row = item_user_matrix.iloc[i]
    #print((row >= 5).sum())

average_ratings = item_user_matrix.mean(axis=1)
print(average_ratings)
print(len(average_ratings))

N=10
top_N_items = average_ratings.sort_values(ascending=False).head(N).index

print("top 10 items", top_N_items)
print("Recommended items for first-time user: ", recommended_items)
print(kmeans.inertia_)

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import f1_score

# Load the ratings data
ratings_data = df_rating2.copy()

# Create a test set from the ratings data
test_set = ratings_data.sample(frac=0.2)

# Create a user-item matrix for the training data
train_set = ratings_data.drop(test_set.index)
user_item_matrix = train_set.pivot_table(index='user_id', columns='movie_id', values='rating')

# Replace NaN values with 0
user_item_matrix.fillna(0, inplace=True)

# Cluster the users using KMeans
kmeans = KMeans(n_clusters=10)
kmeans.fit(user_item_matrix)

# Find the closest cluster for each user in the test set
test_user_clusters = kmeans.predict(user_item_matrix.loc[test_set['user_id']])

# Recommend items for each user in the test set
recommended_items = {}
for i, user_id in enumerate(test_set['user_id']):
    # Find all users in the same cluster as the current user
    cluster_indices = np.where(kmeans.labels_ == test_user_clusters[i])[0]
    cluster_data = user_item_matrix.iloc[cluster_indices, :]
    
    # Calculate the average ratings for each item in the cluster
    average_ratings = cluster_data.mean(axis=0)
    
    # Recommend the top N items with the highest average ratings
    N = 10
    top_N_items = average_ratings.sort_values(ascending=False).head(N).index
    
    # Store the recommended items for the current user
    recommended_items[user_id] = top_N_items
    
print(len(top_N_items))    

# Calculate the F1-score for the recommendations
y_true = []
y_pred = []
print(test_set)
for user_id, items in recommended_items.items():
    true_ratings = test_set[(test_set['user_id'] == user_id) & (test_set['rating'] >= 4)].movie_id.tolist()
    print('true_ratings',true_ratings)
    print('items',items)
    y_true.extend(true_ratings)
    y_pred.extend(items)
f1 = f1_score(y_true, y_pred, average='micro')

# Print the F1-score
print("F1-score:", f1)

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import f1_score

# Load the ratings data
ratings_data = df_rating2.copy()

# Create a test set from the ratings data
test_set = ratings_data.sample(frac=0.2)

# Create a user-item matrix for the training data
train_set = ratings_data.drop(test_set.index)
user_item_matrix = train_set.pivot_table(index='user_id', columns='movie_id', values='rating')

# Replace NaN values with 0
user_item_matrix.fillna(0, inplace=True)

# Cluster the users using KMeans
kmeans = KMeans(n_clusters=10)
kmeans.fit(user_item_matrix)

# Find the closest cluster for each user in the test set
#test_user_clusters = kmeans.predict(user_item_matrix.loc[test_set['user_id
                                                                  
test_user_ids = set(test_set['user_id'].unique())
matrix_user_ids = set(user_item_matrix.index)
common_user_ids = test_user_ids & matrix_user_ids

print(len(test_user_ids))
print(len(common_user_ids))


test_user_clusters = kmeans.predict(user_item_matrix.loc[list(common_user_ids)])


# Recommend items for each user in the test set
recommended_items = {}
for i, user_id in enumerate(common_user_ids):
    # Find all users in the same cluster as the current user
    cluster_indices = np.where(kmeans.labels_ == test_user_clusters[i])[0]
    cluster_data = user_item_matrix.iloc[cluster_indices, :]
    
    # Calculate the average ratings for each item in the cluster
    average_ratings = cluster_data.mean(axis=0)
    
    # Recommend the top N items with the highest average ratings
    N = 10
    top_N_items = average_ratings.sort_values(ascending=False).head(N).index
    
    # Store the recommended items for the current user
    recommended_items[user_id] = top_N_items
    
print(len(top_N_items))   
print(top_N_items)

# # Calculate the F1-score for the recommendations
# y_true = []
# y_pred = []
# print(test_set)
# for user_id, items in recommended_items.items():
#     true_ratings = test_set[(test_set['user_id'] == user_id) & (test_set['rating'] >= 4)].movie_id.tolist()
#     print('true_ratings',true_ratings)
#     print('items',items)
#     y_true.extend(true_ratings)
#     y_pred.extend(items)
# f1 = f1_score(y_true, y_pred, average='micro')

# # Print the F1-score
# print("F1-score:", f1)

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import f1_score

# Load the ratings data
ratings_data = df_rating2.copy()